
API/.vs/API/FileContentIndex/0879d91e-f2f4-4cf1-b3a1-ba211f164fed.vsidx
API/.vs/API/FileContentIndex/25d4426b-9595-4a63-b39f-174829ff8eb6.vsidx
API/.vs/API/FileContentIndex/a658eb9d-f183-406f-b3ed-9bb7bd2b4c49.vsidx
/API/.vs/API/DesignTimeBuild
/API/.vs/API/FileContentIndex
/API/.vs/API/v17
/API/.vs/ProjectEvaluation
/API/.vs/API/config
